/* 
cores padrâo
background-color: #b9b8bd;
background-color: #464f5e;
color: white;
background-color: rgb(26, 23, 23);
*/

.body {
  font-family: "Arial", sans-serif;
  background-color: #b9b8bd;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divHeader {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #464f5e;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  max-width: 1200px;
  width: 100%;
  height: 100px;
}

.headerCenter {
  align-items: center;
  width: 80%;
  background-color: transparent;
}

.menuLink {
  margin-left: auto;
  padding-right: 30px;
}

.menuItem {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 10px;
}

.divimg {
  margin-right: 20px;
  width: 130px;
  height: 100%;
  padding-left: 15px;
  align-items: center;
}

.img {
  width: 120px;
  height: auto;
}

.h1Header {
  font-size: 34px;
  color: white;
  font-weight: 300;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  background-color: rgb(26, 23, 23);
  padding: 20px;
  padding-top: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.divH1Center {
  text-align: center;
  margin-bottom: 30px;
}

.machineList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.machineItem {
  width: 250px;
  padding: 20px;
  background-color: #c7c2c2;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  font-weight: bold;
}

.machineItem:hover {
  transform: scale(1.2);
  background-color: #eaeaea;
}

.green {
  border-left: 20px solid #4caf50;
  background-color: #d0dfd4;
}
.red {
  border-left: 20px solid #f44336;
  background-color: #e0c9c6;
}

.machineItem p {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}

.modal {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modalTitle {
  font-size: 20px;
  font-weight: bold;
}

.closeButton {
  font-size: 25px;
  background: none;
  border: none;
  cursor: pointer;
  color: #999;
}

.modalBody {
  font-size: 16px;
  color: #0c0c0c;
}

.paradaItem {
  margin-bottom: 15px;
}

.paradaItem p {
  margin: 5px 0;
}

.buttonSearch {
  background-color: #464f5e;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.buttonSearch:hover {
  background-color: #0056b3;
}

.linkColor {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  padding: 10px;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.linkColor:hover {
  background-color: #f1f1f1;
}

@media (max-width: 691px) {
  .h1Header {
    font-size: 20px;
    color: white;
    font-weight: 600;
    text-align: center;
  }
}

@media (max-width: 490px) {
  .h1Header {
    font-size: 16px;
    color: white;
    font-weight: 600;
    text-align: left;
  }

  .menuItem {
    font-size: 16px;
  }
}

@media (max-width: 438px) {
  .h1Header {
    font-size: 15px;
    color: white;
    font-weight: 300;
    text-align: left;
  }

  .menuItem {
    font-size: 15px;
    font-weight: 300;
  }

  .img {
    width: 100px;
    height: 100px;
  }
}
